<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment = "_headerLoginTrue_">
    <div class="header">
      <div class="container">
        <div class="header__logo">
          <p><a href="">Hotline: 0903 113 114</a></p>
        </div>
        <div class="header__menu">
          <ul>
            <li><a href="#"><i class="fas fa-pen-square"></i> Kiểm tra đơn hàng</a></li>
            <li><a th:href="@{/cart}"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
            <li>
              <a th:href="@{/edit{id}" methods="GET"><span th:utext="userName"></span></a>
            </li>
            <li><a th:href="@{/sigout}"><i class="fa fa-key"></i> Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>