<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment = "_navigation_">
  <div class="navigation">
    <div class="container">
      <div class="navigation__menu">
        <ul>
          <li><a th:href="@{/}">TRANG CHỦ</a></li>
          <li><a href="">ÁO THUN</a></li>
          <li><a href="">VÁY</a></li>
          <li><a href="">PHỤ KIỆN</a></li>
          <li><a href="">LIÊN HỆ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>